<!DOCTYPE html>
<html ng-app="columbiaWync">
  <head>

    <base href="/">

    <title>columbiaWync</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <!-- build:css app.css -->

    <!-- bower:css -->
    <!-- endinject -->

    <link rel="stylesheet" href="styles/css/app.css">

    <!-- endbuild -->

  </head>
  <body>

    <strong>columbiaWync</strong>

    <div ng-view></div>

    <!-- build:js app.js -->

    <!-- bower:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!-- endbuild -->

  </body>
</html>
