div
	.row.row-centered
		.col-md-12.col-center
			.row.maintitle
				.col-md-6
					h1.maintitle {{name }}
				.col-md-6
					h2 Data Upload
					button(type="button").btn.btn-default GPX Data
			.row
				.div(ng-controller='GoogleMapsController')
					leaflet(id="leaflet-map",  center="center" layers="layers" markers="markers")