div
	.row.row-centered
		.col-md-12.col-center
			.row.maintitle
				.col-md-6
					h1.maintitle Columbia Bike Exposure Tool
				.col-md-6
					form.form-horizontal
						h2.form-signin-heading File info
						input.input-block-level(type="text", name="riderid", ng-model="riderid")
						label.checkbox.
							<input type="checkbox" value="remember-me" /> Previously uploaded
						button.btn.btn-large.btn-primary(type="submit" ng-click="grabGPX()" ) Do it
			.row
				.div(ng-controller='GoogleMapsController')
					leaflet(id="leaflet-map",  center="center" layers="layers" markers="markers")