
<div>
  <div class="row row-centered">
    <div class="col-md-12 col-center">
      <div class="row maintitle">
        <div class="col-md-6">
          <h1 class="maintitle">{{ vm.name }}</h1>
        </div>
        <div class="col-md-6">
          <h2>Data Upload</h2>
          <button type="button" class="btn btn-default">GPX Data</button>
        </div>
      </div>
      <div class="row"></div>
      <leaflet defaults="defaults" center="vm.center" id="leaflet-map"></leaflet>
    </div>
  </div>
</div>