<div class="l-cover l-cover--fixed">
  <div class="l-centervertically">
    <div class="l-maxheight820">
      <div class="l-constrained l-constrained--white l-constrained--scroll">
        <button {{action 'closeModal'}} class="btn btn--medium btn--blank">X close</button>
        <div class="text flush">
          <div class="text-body">
            <h2>FAQ</h2>
            <h3>What is the source of these air quality levels?</h3>
            <p>The model uses long-term seasonal averages from <a href="http://www.nyc.gov/html/doh/downloads/pdf/eode/nyccas-faq.pdf" target="_blank">City monitors</a>. We then adjust these seasonal averages for the typical changes that occur over the course of a day (rush hour vs. off-peak) and day of the week (weekend vs. weekday). We eventually hope to use real-time air pollution and traffic data.</p>

            <h3>Where is my bike data being saved and how will it be used?</h3>
            <p>We are storing the output for the rides uploaded to the site. This includes the bike route time and location data in combination with air pollution map estimates. We will then compare the output from this website with the monitoring data from the study participants so that we can identify areas for further investigation and assess the accuracy of this simpler website model.</p>

            <h3 id="pm">Why did we pick PM<sub>2.5</sub>?</h3>
            <p>Fine particulate matter or PM<sub>2.5</sub> is comprised of tiny solid or liquid particles that are less than 2.5 microns in diameter. The City calls PM<sub>2.5</sub> “the most harmful urban air pollutant” - it’s small enough to get into your lungs and into your bloodstream. This can trigger asthma attacks and worsen other lung or heart disease.</p>

            <h3>How should people interpret their results?</h3>
            <p>This website is an interactive way to illustrate how air pollution levels vary with time (time of day, week and season) and location. This model is not yet accurate for an exact time at a specific location, though we hope to improve its accuracy over the next couple of years.</p>

            <p>In the meantime, we will be comparing the output from this website to the measurements from the equipment worn by bikers in our study. Understanding whether air pollution exposure during exercise by healthy individuals increases the risk for cardiovascular impacts is one of the goals of our long-term study.</p>

            <p>More questions? Contact us at <a href="mailto:breathecityair@gmail.com" target="_blank">breathecityair@gmail.com</a></p>
          </div>
          <!-- .text-body -->
        </div>
        <!--.text -->
      </div>
      <!-- .l-constrained -->
    </div>
    <!-- .l-maxheight80 -->
  </div>
  <!-- .l-centervertically -->
</div>
<!-- .l-cover -->
