/***
 * Boxes:
 */

.box {
  padding: 30px;
}

.box--nopad {
  padding: 0;
}

.box--nearwhite {
    background-color: $nearwhite;
}

.box--bgoverflow {
  @include mq($small-only) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.box-heading {
  @extend .list-heading;
  @extend %vertical-rhythm;
}
