<div class="accordion-header">
  <div class="text text--medium text--heavy flush">
    <button class="btn btn--blank btn--bluetext" {{action 'toggleState'}}>How to participate
      <span class="btn btn--blank btn--bluetext btn--toggle" data-state={{toggleButtonState}}>
        <div class="btn-togglecontent">
          <svg class="icon--carat icon--carat--down"><use xlink:href="/media/img/carat.svg#carat"></use></svg>
        </div>
        <div class="btn-togglecontent">
          <svg class="icon--carat icon--carat--up"><use xlink:href="/media/img/carat.svg#carat"></use></svg>
        </div>
      </span>
    </button>
  </div>
</div>
<div class="accordion-collapsable">
  {{yield}}
</div>
